body{
    font-family: 'Poppins', sans-serif;
}

.carousel-indicators li {
    display: inline-block;
    width: 5px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: gray;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 50px;
    height: 15px;
    margin: 10px;
    border-radius: 10px;
    background-image: linear-gradient(#FF9C35, #FFD019);
}

i{
    margin-left: 5px;
}

.see-all{
    color: #FF9C35;
    font-weight: bold;
}
.see-all:hover{
    text-decoration: none;
}

.btn-buy-now{
    background: black;
    color: white;
    padding: 10px 30px;
    border-radius: 7px;
    font-weight: bold;
    border: none;
}

.btn-buy-now:hover{
    background-color: darkslateblue;
}

.price, .card-title{
    font-size: 24px;
}

.category{
    border-bottom: 7px solid orange;
    
}

#category-container-inner{
    height: 500px;
}

.category-item{
    border: 1px solid lightgrey;
    padding: 20px;
    box-shadow: 0px 0px 41px -19px rgba(0,0,0,0.75);
    transition: transform .4s;

}

.category-item:hover{
    transform: scale(1.1); 
}


/* For card animation start*/
.trans-card {
    transition: 0.4s;
  }
  
.trans-card:hover {
    transform: translateY(-1rem);
  }
  /* For card animation end*/


